.Todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.todo {
  cursor: pointer;
  word-wrap: break-word;
  width: 85%;
  padding: 10px 0;
}
.todo:hover {
  opacity: 0.8;
}

.todo-completed {
  text-decoration: line-through;
}

.todo-incomplete {
  font-weight: 500;
}

.TodoList-Item:hover {
  background-color: rgba(250, 250, 250, 0.9);
}
