.Todo {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.todo {
  cursor: pointer;
  word-wrap: break-word;
  width: 80%;
  max-width: 40vw;
  padding: 10px 0;
}

.todo-completed {
  text-decoration: line-through;
}
