.Todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.todo {
  cursor: pointer;
  word-wrap: break-word;
  width: 85%;
  padding: 10px 0;
}

.todo-completed {
  text-decoration: line-through;
}
